
html{ 
	  background-color:#eeeeee; 
	 }
body {
      background-color:#c1e1e7;
      font-family:Tahoma,Arial,Helvetica,sans-serif;
      font-size:12px;
	  margin-left:15%; 
	  margin-right:15%;
	  border:3px groove #006600; 
	  padding:15px
	 }
h1   {
      text-align:left;
      font-size:1.5em;
      font-weight:bold
     }